# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
.venv/**
venv/

# testing
coverage
.pytest_cache/
.coverage
htmlcov/
src/__tests__/random_tests.test.js


 

# production
instance/
dist/
node_modules/**

# misc
*.pyc
__pycache__/
.DS_Store
npm-debug.log
